form {
  border: 1px solid gray;
  padding: 15px 20px;
  margin: 5% 70px;
  border-radius: 9px;
  background-color: rgb(214, 171, 171);
}

form button {
  font-size: large;
  margin: 10px 0;
  padding: 14px 50px;
  cursor: pointer;
  border-radius: 5px;
}

form button:hover {
  color: aliceblue;
  background-color: brown;
}

form input {
  margin: 10px 0;
  padding: 14px 50px;
  border-radius: 5px;
}

/* Table */

table {
  border: 1px solid gray;
  margin: 10% 70px;
  border-radius: 5px;
  width: 70%;
}

table th {
  border: 1px solid gray;
  border-radius: 5px;
}
table td {
  border: 1px solid gray;
  border-radius: 5px;
}

table thead {
  font-size: large;
  font-weight: 600;
}

table button {
  cursor: pointer;
}
table button:hover {
  color: white;
  background-color: rgb(68, 64, 64);
}
